<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Polling</title>
    <link rel="stylesheet" href="../css/home.css"/>
    
</head>
<body>
    <%- include('partials/studentHeader') %>

    <div class="background-overlay"></div>
    

    <section id="home">
        <div class="container">
            <!-- <img class="behind" src="../images/UVCE_New.jpg"/> -->

            <div class="content">
                <h1 class="text-box1">UNIVERSITY POLLING</h1>
                <p class="text-box2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam quidem provident cupiditate aspernatur veniam expedita vitae molestias quaerat doloremque vel, rerum quo adipisci incidunt minima odit, quod animi quasi suscipit?</p>
            </div>
        </div>
    </section>

    <section id="about">
        <!-- <div class="container">
            <h1>This is the platform to vote</h1>
        </div> -->
    </section>

    <section id="services">

    </section>

    <section id="contact">

    </section>

    


    <%- include('partials/studentFooter') %>

</body>
</html>    